body	
{
	background-image: url('../assets/bg-home.png');
	background-repeat: no-repeat;
	margin: 0 auto;
	background-position: top center;
	overflow-y: scroll;
	height: 1670px; 
	overflow-x: hidden;
	font-family: Arial;
	line-height: 1.5em;
}

/* =========================================
===           NAV 						====
============================================*/

nav ul
{
	width: 461px;
	margin: 8px auto;
}

nav li
{
	display: inline-block;
	list-style: none;
	text-align: center;
	padding: 10px;
}
nav a
{
	display: inline-block;
}

nav #nav_home
{
	background: url('../images/spritesheet.png') no-repeat -221px -39px;
	width: 70px;
	height: 18px;
}
	nav #nav_home:hover
	{
		background: url('../images/spritesheet.png') no-repeat -221px -74px;
		width: 70px;
		height: 18px;
	}

nav #nav_gallery
{
	background: url('../images/spritesheet.png') no-repeat -309px -39px;
	width: 112px;
	height: 18px;
}
	nav #nav_gallery:hover
	{
		background: url('../images/spritesheet.png') no-repeat -309px -74px;
		width: 112px;
		height: 18px;
	}
nav #nav_official_site
{
	background: url('../images/spritesheet.png') no-repeat -435px -39px;
	width: 172px;
	height: 18px;
}
	nav #nav_official_site:hover
	{
		background: url('../images/spritesheet.png') no-repeat -435px -74px;
		width: 172px;
		height: 18px;
	}


/* =========================================
===           CONTENT TEXT				====
============================================*/
a
{
	color: orange;
	font-weight: bold;
	text-decoration: none;
}
	a:hover
	{
		color: darkorange;
	}
#intro
{
	position: relative;
	width: 940px;
	top: 419px;
	margin: 0 auto;
}

#instructions
{
	position: relative;
	width: 540px;
	top: 507px;
	left: 133px;
	margin: 0 auto;
	text-align: right;	
}

#finished_text
{
	position: relative;
	width: 522px;
	top: 391px;
	left: -160px;
	margin: 0 auto;	
}

/* =========================================
===           CANVAS					====
============================================*/

#canvas_container_container
{
	position: relative;
	top: 512px;
	background-image: url('../images/canvasbg.png');
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 940px;
	height: 830px;
}

#canvas_container
{
	position: relative;
	left: 220px;
	top: 130px;
	width: 640px;
	height: 320px;
	border-radius: 6px;
	box-shadow: 0 0 10px 5px #ccc;
}

#clear
{
	position: absolute;
	top: 4px;
	left: 595px;
	z-index: 99;
	background: url('../images/spritesheet.png') no-repeat -4px -32px;
	width: 42px;
	height: 42px;
}

	#clear:hover
	{
		background: url('../images/spritesheet.png') no-repeat -48px -32px;
		cursor: pointer;
	}

/* =========================================
===           CHARS						====
============================================*/

#chars {
    width: 180px;
    height: 205px;
    overflow: hidden;
    position: absolute;
    top: 410px;
    left: 200px;
}

.char {
    width:50px;
    position: absolute;
}

.char_nav
{
	position: absolute;
	top: 510px;
	cursor: pointer;	
}

#shiftLeft
{
	left: 150px;
}

#shiftRight
{
	left: 370px;
}

/* =========================================
===           BGS						====
============================================*/

#bgs {
    width: 150px;
    height: 185px;
    overflow: hidden;
    position: absolute;
    top: 257px;
    left: 30px;
}

.bg {
    height:60px;
    position: absolute;
}

.bg_nav
{
	position: absolute;
	left: 85px;
	cursor: pointer;	
}

#shiftUp
{
	top: 215px;
}

#shiftDown
{
	top: 445px;
}

/* =========================================
===           SCENE NAV					====
============================================*/
#scene0
{
	background: url('../images/spritesheet.png') no-repeat -2px -199px;
	display: inline-block; 
	width: 108px;
	height: 34px;
	position: absolute;
	top:-34px;
	left:170px;
	z-index: 30;
}

#scene1
{
	/*background: url('../images/spritesheet.png') no-repeat -114px -199px;*/
	background: url('../images/spritesheet.png') no-repeat -114px -119px;
	display: inline-block; 
	width: 108px;
	height: 34px;
	position: absolute;
	top:-34px;
	left:283px;
	z-index: 30;

}

#scene2
{
	/*background: url('../images/spritesheet.png') no-repeat -227px -199px;*/
	background: url('../images/spritesheet.png') no-repeat -227px -119px;
	display: inline-block; 
	width: 108px;
	height: 34px;
	position: absolute;
	top:-34px;
	left:396px;
	z-index: 30;

}

#scene3
{
	background: url('../images/spritesheet.png') no-repeat -341px -119px;
	display: inline-block; 
	width: 108px;
	height: 34px;
	position: absolute;
	top:-34px;
	left:509px;
	z-index: 30;
}


/* =========================================
===           STORY						====
============================================*/

#story_input
{
	position: absolute;
	width: 335px;
	height: 65px;
	top: 490px;
	left: 517px;
	background-color: transparent;
	border: none;
	font-family: Arial;
	color: gray;
	padding-right: 6px;
}
	#story_input:focus
	{
		outline: none;
		color: black;
	}

#add_text
{
	position: absolute;
	width: 106px;
	height: 31px;
	top: 542px;
	left: 755px;
	background: url('../images/spritesheet.png') no-repeat -100px -33px;
}

	#add_text:hover
	{
		background: url('../images/spritesheet.png') no-repeat -100px -66px;
		cursor: pointer;
	}


/* =========================================
===           PREVIEW					====
============================================*/

.preview_open
{
	position: absolute;
	top: 740px;
	left:682px;
	background: url('../images/spritesheet.png') no-repeat -7px -7px;
	width: 118px;
	height: 18px;
}

	.preview_open:hover
	{
		background: url('../images/spritesheet.png') no-repeat -136px -7px;
		cursor: pointer;
	}

#preview
{
	width: 700px;
	height: 500px;
	background: #fff;
	border-radius: 6px;
}

/* =========================================
===           POPUP					====
============================================*/

.popup_background {
    z-index: 2000; /* any number */
  }
  .popup_wrapper {
    z-index: 2001; /* any number + 1 */
  }
  /* Add inline-block support for IE7 */
  .popup_align,
  .popup_content {
    *display: inline;
    *zoom: 1;
  }